html{
    font-family: serif;
    background: rgb(255, 255, 255);
    margin: 0;

    
}


h1{
    font-family: Noto Serif;
    color:#254134;
    font-size: 100px;
    text-align: center;
    padding-left: 5%;
    padding-top: 45%

}

h3{
    text-align: center;
    padding-top: 50%;
    font-family: Noto Serif;
    color:#597c6c;

}

.flexbox-grid{
    display: flex;
    gap: 10px; 
}

.column{
    background-color: rgb(255, 255, 255);
    padding: 300px 10px;
    flex: 1;
    text-align: center;
}


#col-large{
    background-color: rgb(255, 255, 255);
    flex-grow: 0.5; 
}


.logo {
  position: fixed;
  top: 20px;     
  left: 20px;    
  width: 40px;
  height: 40px;
}

.logo-icon {
  width: 100%;
  height: 100%;
}

.button {
    position: fixed;
    top: 24px;
    display: flex;
    gap: 32px;
    align-items: center;
    height: 32px;
    font-family: serif;
}

.left-buttons {
    left: 48px;
}

/* the look of right buttons. */
.right-buttons {
    right: 48px;
    gap: 1px;
}


/* cited and edited of website for buttons */
  
.myButton {
    /* Color and background */
    background-color: white;
    color: #597c6c;
    font-family: serif;
    font-weight: bold;
    
    /* Spacing and size */
    padding: 1px 26px 5px 26px;; /* Space between text and border */
    height: 60px;
    display: inline-flex;
    font-size: 20px; /* Text size */
    margin-left: 60px;
    gap: 50px;

    
    /* Aesthetics */
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
    letter-spacing: 0.05em;
    position: relative; 
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;

}

/* cited youtube video to learn how to hover with the underline feature. */
.myButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #254134;
  transition: width 1.5s ease;
}

.myButton:hover::after,
.myButton.active::after {
  width: 100%;
}

.right-buttons {
  right: 48px; 
}







